.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1; /*Cuanto se pueden encojer o expandir en base a otros elementos cercanos*/
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none; /*No se puede seleccionar con el raton*/
  }

  .boton-contenedor:hover{
    background-color: #5a01a7;
    transition: 0.3s;
  }

.operador{
  background-color: #00471b;

}

.operador:hover{
  background-color: #ff6600;
  transition: 0.3s;
}